<h2>人見知り's</h2>
<p>人見知り同士でも気軽に話が出来、仲を深める交流サイト</p>

<div>
  <%= link_to "新規登録", new_user_registration_path %>
</div>

<div>
  <%= link_to "ログイン", new_user_session_path %>
</div>

<div>
  <%= link_to "ゲストログイン" %>
</div>